@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control is-invalid" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control is-invalid" />
        <span class="text-danger" asp-validation-for="DisplayOrder"></span>

    </div>
    <button class="btn btn-success" type="submit" style="width: 150px;">Create</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-danger" style="width: 150px"> Back to List</a>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
     }
}