@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Team </h1>
    <h2>Welcome team to my very small application here.</h2>
    <img src="https://i.gifer.com/XOsX.gif" alt="duck"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
